<nav class="navbar navbar-expand-lg bg-dark ">
    <div class="container-fluid container fw-bold">
      <a class="navbar-brand text-light" routerLink="products">E-COMMERCE</a>
      <button class="navbar-toggler text-danger bg-danger" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon text-danger "></span>
      </button>
      <div class="collapse text-danger navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-danger" aria-current="page" routerLink="products">PRODUCTS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-danger" routerLink="/carts">CART</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-danger" routerLink="/users">USERS</a>
          </li>
        </ul>
        <a class="nav-link text-danger" routerLink="login" tabindex="-1" aria-disabled="true">LOGIN</a>
      </div>
    </div>
  </nav>
